@charset "UTF-8";

html {
  font-size: 1em;
  line-height: 1.5;
}

body {
  background-color: #f5f4ef;
  color: #a5a49f;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.mermaid {
	height: 540px;
	width: 960px;
	
}
/* 
**
**  Sections Stuff
**
*/
.section-norm {
  overflow: hidden;
  position: relative;
  padding: 90px 0 150px;
  background-color: #f5f4ef;
}

.section-norm h1, .section-norm .h1, .section-norm h3, .section-norm .h3, .section-norm h4, .section-norm .h4, .section-norm h5, .section-norm .h5 {
  color: #ff7200;
}

.section-dark {
  background-color: #141316;
  color: white;
}
.section-dark h1, .section-dark .h1, .section-dark h2, .section-dark .h2, .section-dark h3, .section-dark .h3, .section-dark h4, .section-dark .h4, .section-dark h5, .section-dark .h5 {
  color: white;
}
.section-dark .btn:hover {
  color: #141316 !important;
}
.section-dark .btn.inverse {
  color: #141316;
}
/* Section Background specific */
.section-background {
  background-size: cover;
  background-position: center center;
  height: 900px;
}
.section-background.fixed {
  background-attachment: fixed;
  z-index: 90;
}

.parallax {
  overflow: hidden;
  z-index: 1;
}
.parallax .parallaxing {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}
.parallax.h-2x .parallaxing {
  height: 200vh;
}

/* Video Background */

video {
	top: 0; min-height: 100%; width:100%; 
}

.section-video {
  background-size: cover;
  background-position: center center;
  height:700px
}

/* 
**
**  Typo Stuff
**
*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: 'Montserrat', sans-serif;
}

h1, .h1 {
  font-size: 80px;
}

h2, .h2 {
  font-size: 39px;
}

h3, .h3 {
  font-size: 32px;
}

h4, .h4 {
  font-size: 27px;
}

h5, .h5 {
  font-size: 22px;
}

.super-h {
  font-size: 54px;
}

.subtitle {
  font-size: 36px;
}
.subtitle i {
  font-size: 1.66em;
  margin-right: .33em;
}

.h-normal {
  font-family: 'Montserrat', sans-serif;
  font-weight:normal
}

.h-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight:bold
}

.text-normal {
  font-family: 'Open Sans', sans-serif;
  font-weight:normal
}

.text-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight:bold
}

.text-extrabold {
  font-family: 'Open Sans', sans-serif;
  font-weight:bolder
}

.text-normalcase {
  text-transform: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

a {
  color: currentColor;
}
a:hover, a:focus {
  color: currentColor;
}
a:active, a:focus {
  outline: 0;
}

hr {
  position: relative;
  color: inherit;
  width: 120px;
  border-top: 1px solid;
}

.color-egg-shell {
  color: #f5f4ef;
}
.color-grey {
  color: #a5a49f;
}
.color-white {
  color: #fff;
}
.color-dark {
  color: #141316;
}
.color-orange {
	color:#ff7200
}



blockquote {
  border-left: none;
}
blockquote h4 {
  font-size: 31px;
}
blockquote h2 {
  font-size: 42px;
  line-height: 1.2;
}
blockquote h2:after {
  content: '”';
  display: inline-block;
  vertical-align: sub;
  font-size: 60px;
  font-family: Times, 'serif';
  font-weight: bold;
  line-height: 0;
  color: #c1c1c1;
}
blockquote footer {
  font-size: 22px;
  margin-top: 45px;
}
blockquote footer:before {
  display: none;
}

.footer-copy {
  font-size: 18px;
}
.footer-copy a {
  color: #8f8f8f;
}

.mobile-btn {
  display: inline-block;
  -webkit-transition: .3s;
          transition: .3s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  border: none;
  position: absolute;
  z-index: 99;
  top: 5px;
  right: 12px;
  /* display: none; */
}
.mobile-btn:active, .mobile-btn:focus {
  outline: none;
}

.lines {
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: white;
  -webkit-transition: 150ms;
          transition: 150ms;
  position: relative;
  -webkit-transition: background 150ms 250ms ease;
          transition: background 150ms 250ms ease;
}
.lines:before, .lines:after {
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: white;
  -webkit-transition: 150ms;
          transition: 150ms;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: top 150ms 250ms ease, -webkit-transform 150ms ease;
          transition: top 150ms 250ms ease, transform 150ms ease;
}
.lines:before {
  top: 5px;
}
.lines:after {
  top: -5px;
}

.mobile-btn.x .lines {
  background: transparent;
}
.mobile-btn.x .lines:before, .mobile-btn.x .lines:after {
  -webkit-transition: top 250ms ease, -webkit-transform 150ms 250ms ease;
          transition: top 250ms ease, transform 150ms 250ms ease;
  top: 0;
  width: 20px;
}
.mobile-btn.x .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
          transform: rotate3d(0, 0, 1, 45deg);
}
.mobile-btn.x .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
          transform: rotate3d(0, 0, 1, -45deg);
}

@media (min-width: 768px) {
  [id^="modal-screenshot-iphone"] .modal-dialog {
    width: 300px;
  }

  [id^="modal-screenshot-ipad"] .modal-dialog {
    width: 430px;
  }
}
[id^="modal-screenshot-iphone"] .close,
[id^="modal-screenshot-ipad"] .close {
  font-size: 30px;
}

.navbar a.example-brand {
  color: #efd645;
  line-height: 1.25em;
  font-size: 20px;
}

.navbar {
  -webkit-transform: translateZ(0px);
}

/* 
**
**  Buttons Stuff 
**
*/
.btn {
  font-size: 18px;
  background-color: transparent;
  border-color: #141316;
  border-width: 2px;
  border-style: solid;
  color: #141316;
  -webkit-transition: background-color .3s, color .3s;
          transition: background-color .3s, color .3s;
}
[class*="section-"] .btn {
  color: white;
  border-color: white;
}
[class*="section-"] .btn:hover, [class*="section-"] .btn:focus {
  background-color: white;
  border-color: white;
  color: #141316;
}
[class*="section-"] .btn.inverse {
  background-color: white;
}
[class*="section-"] .btn.inverse:hover, [class*="section-"] .btn.inverse:focus {
  color: white !important;
  background-color: transparent;
}
.btn:hover, .btn:focus {
  background-color: #141316;
  border-color: #141316;
  color: white;
}
.btn.inverse {
  background-color: #141316;
}
.btn.inverse:hover, .btn.inverse:focus {
  color: #141316;
  background-color: transparent;
}
.btn:not(.btn-circle) > i {
  font-size: 1.2em;
  vertical-align: bottom;
  margin-left: 15px;
}
.btn:hover, .btn:focus, .btn:active, .btn:focus:active, .btn.focus {
  outline: 0;
  box-shadow: none;
}

.btn-lg {
  font-size: 24px;
  padding: 15px 25px;
}

.btn-sm {
  font-size: 14px;
}

.btn-xs {
  font-size: 12px;
}

.btn-default, [class*="section-"] .btn-default {
  color: #fff;
  border-color: #fff;
}
.btn-default:hover, .btn-default:focus, [class*="section-"] .btn-default:hover, [class*="section-"] .btn-default:focus {
  background-color: #fff;
  border-color: #fff;
}
.btn-default.inverse, [class*="section-"] .btn-default.inverse {
  background-color: #fff;
}
.btn-default.inverse:hover, .btn-default.inverse:focus, [class*="section-"] .btn-default.inverse:hover, [class*="section-"] .btn-default.inverse:focus {
  color: #fff !important;
}

.btn-primary, [class*="section-"] .btn-primary {
  color: #337ab7;
  border-color: #337ab7;
}
.btn-primary:hover, .btn-primary:focus, [class*="section-"] .btn-primary:hover, [class*="section-"] .btn-primary:focus {
  background-color: #337ab7;
  border-color: #337ab7;
}
.btn-primary.inverse, [class*="section-"] .btn-primary.inverse {
  background-color: #337ab7;
}
.btn-primary.inverse:hover, .btn-primary.inverse:focus, [class*="section-"] .btn-primary.inverse:hover, [class*="section-"] .btn-primary.inverse:focus {
  color: #337ab7 !important;
}

.btn-success, [class*="section-"] .btn-success {
  color: #5cb85c;
  border-color: #5cb85c;
}
.btn-success:hover, .btn-success:focus, [class*="section-"] .btn-success:hover, [class*="section-"] .btn-success:focus {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.btn-success.inverse, [class*="section-"] .btn-success.inverse {
  background-color: #5cb85c;
}
.btn-success.inverse:hover, .btn-success.inverse:focus, [class*="section-"] .btn-success.inverse:hover, [class*="section-"] .btn-success.inverse:focus {
  color: #5cb85c !important;
}

.btn-info, [class*="section-"] .btn-info {
  color: #5bc0de;
  border-color: #5bc0de;
}
.btn-info:hover, .btn-info:focus, [class*="section-"] .btn-info:hover, [class*="section-"] .btn-info:focus {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.btn-info.inverse, [class*="section-"] .btn-info.inverse {
  background-color: #5bc0de;
}
.btn-info.inverse:hover, .btn-info.inverse:focus, [class*="section-"] .btn-info.inverse:hover, [class*="section-"] .btn-info.inverse:focus {
  color: #5bc0de !important;
}

.btn-warning, [class*="section-"] .btn-warning {
  color: #f0ad4e;
  border-color: #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, [class*="section-"] .btn-warning:hover, [class*="section-"] .btn-warning:focus {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.btn-warning.inverse, [class*="section-"] .btn-warning.inverse {
  background-color: #f0ad4e;
}
.btn-warning.inverse:hover, .btn-warning.inverse:focus, [class*="section-"] .btn-warning.inverse:hover, [class*="section-"] .btn-warning.inverse:focus {
  color: #f0ad4e !important;
}

.btn-danger, [class*="section-"] .btn-danger {
  color: #d9534f;
  border-color: #d9534f;
}
.btn-danger:hover, .btn-danger:focus, [class*="section-"] .btn-danger:hover, [class*="section-"] .btn-danger:focus {
  background-color: #d9534f;
  border-color: #d9534f;
}
.btn-danger.inverse, [class*="section-"] .btn-danger.inverse {
  background-color: #d9534f;
}
.btn-danger.inverse:hover, .btn-danger.inverse:focus, [class*="section-"] .btn-danger.inverse:hover, [class*="section-"] .btn-danger.inverse:focus {
  color: #d9534f !important;
}

.btn-white, [class*="section-"] .btn-white {
  color: #fff;
  border-color: #fff;
}
.btn-white:hover, .btn-white:focus, [class*="section-"] .btn-white:hover, [class*="section-"] .btn-white:focus {
  background-color: #fff;
  border-color: #fff;
}
.btn-white.inverse, [class*="section-"] .btn-white.inverse {
  background-color: #fff;
}
.btn-white.inverse:hover, .btn-white.inverse:focus, [class*="section-"] .btn-white.inverse:hover, [class*="section-"] .btn-white.inverse:focus {
  color: #fff !important;
}

.btn-baltic-sea, [class*="section-"] .btn-baltic-sea {
  color: #2a282d;
  border-color: #2a282d;
}
.btn-baltic-sea:hover, .btn-baltic-sea:focus, [class*="section-"] .btn-baltic-sea:hover, [class*="section-"] .btn-baltic-sea:focus {
  background-color: #2a282d;
  border-color: #2a282d;
}
.btn-baltic-sea.inverse, [class*="section-"] .btn-baltic-sea.inverse {
  background-color: #2a282d;
}
.btn-baltic-sea.inverse:hover, .btn-baltic-sea.inverse:focus, [class*="section-"] .btn-baltic-sea.inverse:hover, [class*="section-"] .btn-baltic-sea.inverse:focus {
  color: #2a282d !important;
}

.btn-chapter-two, [class*="section-"] .btn-chapter-two {
  color: #ff7200;
  border-color: #ff7200;
}
.btn-chapter-two:hover, .btn-chapter-two:focus, [class*="section-"] .btn-chapter-two:hover, [class*="section-"] .btn-chapter-two:focus {
  background-color: #ff7200;
  border-color: #ff7200;
}
.btn-chapter-two.inverse, [class*="section-"] .btn-chapter-two.inverse {
  background-color: #ff7200;
}
.btn-chapter-two.inverse:hover, .btn-chapter-two.inverse:focus, [class*="section-"] .btn-chapter-two.inverse:hover, [class*="section-"] .btn-chapter-two.inverse:focus {
  color: #ff7200 !important;
}

.btn-chapter-four, [class*="section-"] .btn-chapter-four {
  color: #f23c57;
  border-color: #f23c57;
}
.btn-chapter-four:hover, .btn-chapter-four:focus, [class*="section-"] .btn-chapter-four:hover, [class*="section-"] .btn-chapter-four:focus {
  background-color: #f23c57;
  border-color: #f23c57;
}
.btn-chapter-four.inverse, [class*="section-"] .btn-chapter-four.inverse {
  background-color: #f23c57;
}
.btn-chapter-four.inverse:hover, .btn-chapter-four.inverse:focus, [class*="section-"] .btn-chapter-four.inverse:hover, [class*="section-"] .btn-chapter-four.inverse:focus {
  color: #f23c57 !important;
}

.btn-yellow, [class*="section-"] .btn-yellow {
  color: #efd645;
  border-color: #efd645;
}
.btn-yellow:hover, .btn-yellow:focus, [class*="section-"] .btn-yellow:hover, [class*="section-"] .btn-yellow:focus {
  background-color: #efd645;
  border-color: #efd645;
}
.btn-yellow.inverse, [class*="section-"] .btn-yellow.inverse {
  background-color: #efd645;
}
.btn-yellow.inverse:hover, .btn-yellow.inverse:focus, [class*="section-"] .btn-yellow.inverse:hover, [class*="section-"] .btn-yellow.inverse:focus {
  color: #efd645 !important;
}

.btn-green, [class*="section-"] .btn-green {
  color: #92e1b2;
  border-color: #92e1b2;
}
.btn-green:hover, .btn-green:focus, [class*="section-"] .btn-green:hover, [class*="section-"] .btn-green:focus {
  background-color: #92e1b2;
  border-color: #92e1b2;
}
.btn-green.inverse, [class*="section-"] .btn-green.inverse {
  background-color: #92e1b2;
}
.btn-green.inverse:hover, .btn-green.inverse:focus, [class*="section-"] .btn-green.inverse:hover, [class*="section-"] .btn-green.inverse:focus {
  color: #92e1b2 !important;
}

.btn-dark, [class*="section-"] .btn-dark {
  color: #141316;
  border-color: #141316;
}
.btn-dark:hover, .btn-dark:focus, [class*="section-"] .btn-dark:hover, [class*="section-"] .btn-dark:focus {
  background-color: #141316;
  border-color: #141316;
}
.btn-dark.inverse, [class*="section-"] .btn-dark.inverse {
  background-color: #141316;
}
.btn-dark.inverse:hover, .btn-dark.inverse:focus, [class*="section-"] .btn-dark.inverse:hover, [class*="section-"] .btn-dark.inverse:focus {
  color: #141316 !important;
}

.btn-circle {
  border: 1px solid;
  border-radius: 100%;
  font-size: 30px;
  padding: 0;
  width: 60px;
  height: 60px;
  line-height: 2.2;
  margin: 0 5px;
}
.btn-circle.btn-lg {
  font-size: 44px;
  padding: 0;
  width: 88px;
  height: 88px;
}
.btn-circle.btn-sm {
  font-size: 22px;
  padding: 0;
  width: 44px;
  height: 44px;
}
.btn-circle.btn-xs {
  font-size: 12px;
  padding: 0;
  width: 28px;
  height: 28px;
}

/* 
**
**  hex Stuff 
**
*/
.hex {
  position: relative;
  display: inline-block;
  background-color: #231f20;
  text-align: center;
  -webkit-transition: background .3s;
          transition: background .3s;
  margin-bottom: 25px;
}
.hex:hover {
  background-color: #ff4e57;
}
.hex:before {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg);
}
.hex:after {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.hex, .hex::before, .hex::after {
  height: 50px;
  width: calc(50px * 1.732);
  border-radius: 5%/20%;
}
.hex .hex-content {
  font-size: 45px;
}
.hex.hex-sm, .hex.hex-sm::before, .hex.hex-sm::after {
  height: 35px;
  width: calc(35px * 1.732);
}
.hex.hex-sm .hex-content {
  font-size: 30px;
}
.hex.hex-xs, .hex.hex-xs::before, .hex.hex-xs::after {
  height: 17px;
  width: calc(17px * 1.732);
}
.hex.hex-xs .hex-content {
  font-size: 16px;
}
.hex.hex-md, .hex.hex-md::before, .hex.hex-md::after {
  height: 60px;
  width: calc(60px * 1.732);
}
.hex.hex-lg, .hex.hex-lg::before, .hex.hex-lg::after {
  height: 65px;
  width: calc(65px * 1.732);
}
.hex.hex-lg .hex-content {
  font-size: 60px;
}
.hex.hex-white, .section-dark .hex {
  background-color: white;
}
.hex.hex-white .hex-content, .section-dark .hex .hex-content {
  color: #231f20;
}
.hex.hex-white:hover, .section-dark .hex:hover {
  background-color: #ff4e57;
}

.hex-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  z-index: 100;
  line-height: .85;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.hex-content i {
  vertical-align: middle;
}

/* 
**
**  Nav Stuff 
**
*/
.main-logo {
	position: absolute;
	margin: 0 50%;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: #000000;
  -webkit-transition: background-color .3s;
          transition: background-color .3s;
}
.navbar {
    height: auto;
  }

  .nav {
    position: relative;
  }

  .nav-pills {
    max-height: 0;
    overflow: hidden;
    clear: both;
  }
  .nav-pills.open {
    max-height: 200px;
    padding-left: 27%;
  }

  .nav-pills > li, .nav-pills.pull-right {
    float: none !important;
  }

.navbar .container {
  position: relative;
}
.navbar.transp {
  background-color: rgba(0, 0, 0, 0.3);
}
.navbar a {
  font-size: 17px;
  color: white;
  height: 50px;
  background-color: transparent;
}


.nav > li > a {
  padding: 12px 20px;
}

.nav .social a {
  padding: 19px 3px;
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #000000;
  background-color: #FF7200;
  float: none !important;
}


.main-version {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.75);
	display: inline-block;
	vertical-align: text-bottom;
	margin-top: 5px;
	margin-left: 3px;
	margin-right: 20px;
}

/* 
**
**  Spacing Helpers Stuff 
**
*/
.m0 {
  margin: 0;
}

.mt0 {
  margin-top: 0;
}

.mr0 {
  margin-right: 0;
}

.mb0 {
  margin-bottom: 0;
}

.ml0 {
  margin-left: 0;
}

.p0 {
  padding: 0;
}

.pt0 {
  padding-top: 0;
}

.pr0 {
  padding-right: 0;
}

.pb0 {
  padding-bottom: 0;
}

.pl0 {
  padding-left: 0;
}

.m1 {
  margin: 0.5rem;
}

.mt1 {
  margin-top: 0.5rem;
}

.mr1 {
  margin-right: 0.5rem;
}

.mb1 {
  margin-bottom: 0.5rem;
}

.ml1 {
  margin-left: 0.5rem;
}

.mxn1 {
  margin-left: -0.5rem;
}

.p1 {
  padding: 0.5rem;
}

.py1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.p1 {
  padding: 0.5rem;
}

.pt1 {
  padding-top: 0.5rem;
}

.pr1 {
  padding-right: 0.5rem;
}

.pb1 {
  padding-bottom: 0.5rem;
}

.pl1 {
  padding-left: 0.5rem;
}

.mt-5 {
  margin-top: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.m2 {
  margin: 1rem;
}

.mt2 {
  margin-top: 1rem;
}

.mr2 {
  margin-right: 1rem;
}

.mb2 {
  margin-bottom: 1rem;
}

.ml2 {
  margin-left: 1rem;
}

.mxn2 {
  margin-left: -1rem;
}

.p2 {
  padding: 1rem;
}

.py2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p2 {
  padding: 1rem;
}

.pt2 {
  padding-top: 1rem;
}

.pr2 {
  padding-right: 1rem;
}

.pb2 {
  padding-bottom: 1rem;
}

.pl2 {
  padding-left: 1rem;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.m3 {
  margin: 2rem;
}

.mt3 {
  margin-top: 2rem;
}

.mr3 {
  margin-right: 2rem;
}

.mb3 {
  margin-bottom: 2rem;
}

.ml3 {
  margin-left: 2rem;
}

.mxn3 {
  margin-left: -2rem;
}

.p3 {
  padding: 2rem;
}

.py3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px3 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.p3 {
  padding: 2rem;
}

.pt3 {
  padding-top: 2rem;
}

.pr3 {
  padding-right: 2rem;
}

.pb3 {
  padding-bottom: 2rem;
}

.pl3 {
  padding-left: 2rem;
}

.mt-15 {
  margin-top: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.m4 {
  margin: 4rem;
}

.mt4 {
  margin-top: 4rem;
}

.mr4 {
  margin-right: 4rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.ml4 {
  margin-left: 4rem;
}

.mxn4 {
  margin-left: -4rem;
}

.p4 {
  padding: 4rem;
}

.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.px4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.p4 {
  padding: 4rem;
}

.pt4 {
  padding-top: 4rem;
}

.pr4 {
  padding-right: 4rem;
}

.pb4 {
  padding-bottom: 4rem;
}

.pl4 {
  padding-left: 4rem;
}

.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.m5 {
  margin: 8rem;
}

.mt5 {
  margin-top: 8rem;
}

.mr5 {
  margin-right: 8rem;
}

.mb5 {
  margin-bottom: 8rem;
}

.ml5 {
  margin-left: 8rem;
}

.mxn5 {
  margin-left: -8rem;
}

.p5 {
  padding: 8rem;
}

.py5 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.px5 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.p5 {
  padding: 8rem;
}

.pt5 {
  padding-top: 8rem;
}

.pr5 {
  padding-right: 8rem;
}

.pb5 {
  padding-bottom: 8rem;
}

.pl5 {
  padding-left: 8rem;
}

.mt-25 {
  margin-top: 25px;
}

.mr-25 {
  margin-right: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.ml-25 {
  margin-left: 25px;
}

@media (max-width: 768px) {
  .px5 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-110 {
  margin-top: 110px;
}

.mb-110 {
  margin-bottom: 110px;
}

.pt-110 {
  padding-top: 110px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pt-45 {
  padding-top: 45px;
}

.mr-25 {
  margin-right: 25px;
}

.fz-10 {
  font-size: 10px;
}

.fz-11 {
  font-size: 11px;
}

.fz-12 {
  font-size: 12px;
}

.fz-13 {
  font-size: 13px;
}

.fz-14 {
  font-size: 14px;
}

.fz-15 {
  font-size: 15px;
}

.fz-16 {
  font-size: 16px;
}

.fz-17 {
  font-size: 17px;
}

.fz-18 {
  font-size: 18px;
}

.fz-19 {
  font-size: 19px;
}

.fz-20 {
  font-size: 20px;
}

.fz-48 {
  font-size: 48px;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-55 {
  width: 55%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.w-100 {
  width: 100%;
}

.em-0-5 {
  font-size: 0.5em;
}

.em-0-25 {
  font-size: 0.25em;
}

.em-0-75 {
  font-size: 0.75em;
}

.em-1-5 {
  font-size: 1.5em;
}

.em-1-25 {
  font-size: 1.25em;
}

.em-1-75 {
  font-size: 1.75em;
}

.em-2 {
  font-size: 2em;
}

.em-2-5 {
  font-size: 2.5em;
}

.em-3 {
  font-size: 3em;
}

.em-3-5 {
  font-size: 3.5em;
}

.em-4 {
  font-size: 4em;
}

.em-5 {
  font-size: 5em;
}

.em-7-5 {
  font-size: 7.5em;
}

.em-10 {
  font-size: 10em;
}

.em-20 {
  font-size: 20em;
}

.lh-0-5 {
  line-height: 0.5em;
}

.lh-0-25 {
  line-height: 0.25em;
}

.lh-0-75 {
  line-height: 0.75em;
}

.lh-1 {
  line-height: 1;
}

.lh-1-5 {
  line-height: 1.5em;
}

.lh-1-25 {
  line-height: 1.25em;
}

.lh-1-75 {
  line-height: 1.75em;
}

.lh-2 {
  line-height: 2em;
}

.lh-2-5 {
  line-height: 2.5em;
}

.lh-3 {
  line-height: 3em;
}

.lh-3-5 {
  line-height: 3.5em;
}

.lh-4 {
  line-height: 4em;
}

@-webkit-keyframes dash-fade-in {
  50% {
    fill-opacity: 0;
    stroke-opacity: 1;
  }
  100% {
    stroke-opacity: 0;
    fill-opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes dash-fade-in {
  50% {
    fill-opacity: 0;
    stroke-opacity: 1;
  }
  100% {
    stroke-opacity: 0;
    fill-opacity: 1;
    stroke-dashoffset: 0;
  }
}
@media (max-width: 1200px) {
 
.section-norm {
    overflow: hidden;
    position: relative;
    padding: 10px 0px 150px;
    background-color: #F5F4EF;
}
}
@media only screen and (max-width: 995px) {
.mermaid {
	height: 450px;
	width: 800px;
} 	
	
.section-background {
  background-size: cover;
  background-position: center center;
  height: 600px;
}
.nav-pills.open {
    max-height: 200px;
    padding-left: 10%;
  }
.section-norm {
    overflow: hidden;
    position: relative;
    padding: 10px 0px 150px;
    background-color: #F5F4EF;
}
}
@media only screen and (max-width: 768px) {

.mermaid {
	height: 300px;
	width: 533px;
} 
 
  .section-background {
  background-size: cover;
  background-position: center center;
  height: 600px;
}
.section-video {
  background-size: cover;
  background-position: center center;
  height:600px
}
.section-norm {
    overflow: hidden;
    position: relative;
    padding: 10px 0px 150px;
    background-color: #F5F4EF;
}
  .mobile-btn {
    display: block;
  }

  .navbar {
    height: auto;
  }

  .nav {
    position: relative;
  }

  .nav-pills {
    max-height: 0;
    overflow: hidden;
    clear: both;
  }
 .nav-pills.open {
    max-height: 200px;
    padding-left: 10%;
  }
  .nav-pills > li, .nav-pills.pull-right {
    float: none !important;
  }


}
@media (max-width: 480px) {
  h1, .h1 {
  font-size: 40px;
}

.mermaid {
	height: 200px;
	width: 356px;
}

h2, .h2 {
  font-size: 29px;
}

video {
    margin-top: 100px;
    min-height: 100%;
    width: 110%;
}

.section-video {
    background-size: cover;
    background-position: center center;
    height: 400px;
}
.section-background {
  background-size: cover;
  background-position: center center;
  height: 300px;
}

  .main-version {
	/* margin-left: 50%; */
	/* margin-right: 50%; */
	font-size: 12px;
	color: rgba(255, 255, 255, 0.75);
	vertical-align: text-bottom;
	margin-top: 90px;
	margin-bottom: -3px;
	background: #000000 none repeat scroll 0% 0%;
	width: 100%;
	padding: 10px;
	align-content: center;
	text-align: center;
	border-bottom: solid 1px #333333;
	border-top: solid 1px #333333;
  }
  .main-logo {
	position: absolute;
	margin: 0 0 0 0;
}
.navbar a {
    font-size: 17px;
    color: #FFF;
    height: 40px;
    background-color: transparent;
}
ul, ol {
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-pills.open {
    max-height: 200px;
    padding-left: 2%;
  }
  .nav > li > a {
   padding: 8px 16px;
}

.videoPlayer {
    min-height: 100%;
    max-height: 100%;
    /* min-width:100%; */
	position:absolute;
	bottom:0;
	left:0;      
}


/* IFrame Styles */
	.frame-wrapper {
		width:1000%;
		height:100%;
		margin:0 auto;
		background:#CCC
	}
	.h_iframe {
		position:relative;
	}
	.h_iframe .ratio {
		display:block;
		width:100%;
		height:auto;
	}
	.h_iframe iframe {
		position:absolute;
		top:0;
		left:0;
		width:100%; 
		height:100%;
		overflow:hidden;
	}

}